<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>42606211238-9fc63iop0vokakru2vbcjo3nrkh9n4ej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42606211238-9fc63iop0vokakru2vbcjo3nrkh9n4ej</string>
	<key>API_KEY</key>
	<string>AIzaSyDJqbKnwTErrYLBBK45c7lICkf7mn0DCvk</string>
	<key>GCM_SENDER_ID</key>
	<string>42606211238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MobileAppsCompany.MessengerApp</string>
	<key>PROJECT_ID</key>
	<string>messagingappdemo-eb7af</string>
	<key>STORAGE_BUCKET</key>
	<string>messagingappdemo-eb7af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42606211238:ios:a861982b25c0d9b9</string>
	<key>DATABASE_URL</key>
	<string>https://messagingappdemo-eb7af.firebaseio.com</string>
</dict>
</plist>